
/* css */
.thumbnail{
  width: 391px;
  height:222px;
  overflow: hidden;
  background-color: #D9D9D9;
}

.title{
  width: 391px;
  height:222px;
  background-color: orange;
}
#adviewer{
  margin-top:10vh;
  width: 838px;
  height: 447px;
  background-color: #D9D9D9;
  position:relative;
  z-index:-1;
}

#skip-button{
  position: absolute;
  width: 193px;
  height: 59px;
  background-color: #938F8F;
  margin-left: 631px;
  margin-top: 378px;
  z-index:100;
  font-style: Roboto;
  font-size: 30px;
 }
